.outer {
width: 300px;
border: 1px solid red;
overflow: hidden;
height: 300px;
vertical-align: middle;
line-height: 300px;
display: table-cell;
}

.inner {
float: left;
position: relative;
left: 50%;
vertical-align: middle;
text-align: center;
max-width: 90%;
margin: auto;
max-height: 90%;
}

img {
position: relative;
max-width: 90%;
max-height: 90%;
left: -50%;
display: inline-block;
z-index: -10;
}

.gouzi {
background: url("./icons-18-white.png") no-repeat scroll -252px -1px rgba(0, 0, 255, 0.8);
border: 2px solid white;
border-radius: 18px 18px 18px 18px;
height: 18px;
width: 18px;
float: right;
margin-top: -25px;
position: absolute;
right: 56%;
}